body {
    background: #F8f8f8;
    font-family: 'Fira Code', monospace;
    font-size: 22px;
    color: #01161E;
    padding: 0vh 5vw 2.5vh 5vw;
}

ul {
    list-style: none;
    padding: 0;
}

h3 {
    margin-top: 1.5em;
    margin-bottom: .5em;
}

#projectsSection > li {
    $intraSectionSpacing: .2em;
    
    h4 {
        // font-style: italic;
        margin-top: 0;
        margin-bottom: 0;
    }

    a {
        text-decoration: none;
        margin-top: $intraSectionSpacing;
        margin-bottom: $intraSectionSpacing;
        margin-right: .75em;
    }

    p {
        margin-top: $intraSectionSpacing;
        margin-bottom: $intraSectionSpacing;
    }

    .techList > li {
        display: inline-block;
        background-color: #A7C6DA;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 3px 10px 3px 10px;
        color: #124559;
    }
}

a {    
    color: #598392;
}

a:hover {
    color: #A7C6DA;
}

header {
    h1 {
        margin-bottom: 0em;
    }

    p {
        font-size: 24px;
        font-weight: bold;
    }
}
